body {
    margin: 0;
}

/* Style the sidebar - fixed full height */

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 15px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
.my-container {
    
    margin-left: 60px;
    
}

.my-row {
        height: 300px;
        
}

.my-col {

    margin-left: 100px;
    background-color: rgba(37, 175, 194, 0.904);
    height: 100vh;
    
    }

.my-col-content{
    margin-left: 20px;
    height:80vh;
     
         
}

#special-col{
    display: flex;
    justify-content: center;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;

    #col-2-email-section{
      background-color: rgb(194, 194, 194);
  }
  
  
  #col-3-opened-email-div{
      height: 380px;
  }
  
  #col-3-reply-email-div{
     height: 300px;
  }
  
  #replay-textarea{
      height: 170px;
  }
  
  body{
      overflow-x: hidden;
  }
  
  .user-logo{
      font-size: 22px;
  }
  
  .my-email{
    background-color: cadetblue;
    height: 100vh;
  }
    
 .text-link{
  text-decoration: underline;
 }